
div.container { position: relative; width: 1200px; margin: 0 auto; padding: 0; }
 
.row { margin: 0 0 18px -60px; }
.column, .columns { float: left; display: inline; margin: 0 0 0 60px; }
 
.one { width: 360px; }
.two { width: 780px; }
.three { width: 1200px; }
 
.offset-by-one-half { margin-left: 210px; }
.offset-by-one { margin-left: 420px; }
 
/* Clear the columns automagically, thanks @kneath */
.column-row:after, .row:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .column-row, * html .row, * html .clearfix { height: 1%; }
.column-row, .row, .clearfix { display: inline-block; }
.column-row, .row, .clearfix { display: block; }
