// Import Modules
@import 'includes/normalise'
@import 'includes/mixins'
@import 'includes/grater'
@import 'includes/animate'
@import 'typography'


// Variables

complimentCol = #1C1D21
mainCol = #DD3333

// Nitty-gritty stuff

.centered
	text-align: center

.tshadow
	text-shadow 0 2px 4px rgba(0,0,0,0.5)

.maxTextWidth
	max-width 30em
	margin: 0 auto

.floatRight
	float: right
	
.icon
	font-family "Entypo Social"

// Application Specific Styles

*
	transition: all 0.2s
	-webkit-transition: all 0.2s


body
	background #000 url('../img/background.jpg') no-repeat center center fixed

	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover

	margin 0
	padding 0
	font-family: Open Sans

.button
	color: #FFF
	background mainCol
	display: block
	overflow: hidden
	text-align: center
	padding 0.5em 1em
	margin-top: 20px
	text-decoration none

	&:hover
		background darken(mainCol, 20%)


// TOP HALF AND HEADER

h1.logo
	margin 40px 0 20px 0

.social
	font-size 60px
	color #FFF
	text-decoration none
	float: right
	margin-top: 30px

	&:hover
		color darken(#FFF, 20%)

.navigation
	display: block
	width: 100%
	background complimentCol
	height 60px
	overflow: hidden
	padding: 0 20px 0 20px
	margin: 0

	li
		float: left
		list-style-type none
		margin: 0
		padding: 0

		a
			color: #FFF
			text-transform uppercase
			text-decoration none
			padding 0 25px
			display: block
			height: 60px
			line-height: 60px

			&:hover, &.selected
				background mainCol



// FOOTER

.footer
	padding 1.5em
	background complimentCol
	margin: 4em 0

	h6
		text-align right
		margin 0

// SECTIONS

.sectionPadding
	padding 2em 0


.sectionContainer
	margin-top: 40px

	.topPart, .bottomPart
		overflow: hidden

	.topPart
		padding 15px 20px
		background mainCol
		display: block

		p
			font-size 2em
			margin: 0
			font-weight 200

	.bottomPart
		padding: 20px
		background #FFF
		color #424242
		margin-bottom: 4em

.viewMore
	float: right
	margin: 0
	padding-top: 10px
	text-decoration none

	&:hover
		color darken(#D6D6D6, 10%)


// NEWS SECTION 

.newsSummarySection
	width: 365px
	float: left
	color #B4B4B4
	margin 1em 0

	&:nth-child(odd)
		margin-right 15px

	&:hover .articleTitle
		text-decoration underline

	img
		border-radius 80px
		float: left
		width 75px
		margin-right: 20px

	.articleInfo
		width: 270px
		float: left
		float left

	.articleTitle
		color mainCol
		margin-bottom: 0
		margin-top 0

.tweet
	margin-bottom 30px


// committee page

.committeeMember
	float: left
	width: 230px
	height: 230px
	display: block
	margin-bottom: 20px
	margin-right 20px
	position: relative
	overflow: hidden
	background mainCol

	img
		display: block
		position: absolute
		top 0
		left 0
		z-index 9999
		box-shadow 0 1px 3px #BF2B2B
	
	.info
		position: absolute
		bottom: 0
		display: block
		width: 100%
		height 50px
		padding: 15px

		p, span
			margin 0
			color: #FFF

		p
			font-weight: 500
			font-size 1.1em

		span
			font-weight: 200
			text-transform uppercase

	&:hover img
		top -75px

	&:nth-child(3n)
		margin-right: 0


// Events Page

.singleEvent

	margin-bottom: 20px
	display: block
	overflow: hidden
	padding: 15px
	-webkit-border-radius 2px
	-moz-border-radius 2px
	border-radius 2px
	text-decoration none
	color complimentCol

	.date
		float: left
		-webkit-border-radius: 50%
		-moz-border-radius: 50%
		border-radius: 50%
		background complimentCol
		width: 80px
		height: 80px
		text-align: center
		margin-top: 5px
		color #FFF
		text-transform: uppercase
		font-weight 200
		margin-right: 20px

		.number
			font-size 2em
			display: block
			margin 0
			position: relative
			top: 5px
			font-weight: 500

	.info
		padding 15px

		.eventTitle
			font-size 1.3em
			color mainCol
			margin 0
			font-weight: 400

		.eventInfo
			margin 0

	&:hover
		background complimentCol

		.eventTitle
			color #FFF

		p
			color #D6D6D6

		.date
			background #FFF
			color complimentCol

		.number
			color complimentCol